{% extends 'base.html' %}


{% block content %}
<div class="btn-group-vertical">
<a href="{{url({alias:'alias_account'})}}" role="button" class="btn btn-outline-primary" style="max-width: 160px;min-width: 160px;"><span data-feather="skip-back"></span> Назад</a>

</div>  


{% if message.text|length == 0 %}
<img class="avatar" src="{{ profile.avatar }}" alt="Gravatar">
<h3>Логин: <a href="{{ url({alias:'alias_prof',login:profile.login,id:profile.id}) }}">{{ profile.login }}</a></h3>
{% else %}
{% endif %}
 {% if user.login|length == 0 %}
 <p>Вы не авторизованны! Необходимо <a href="{{ url({alias:'alias_login'}) }}">войти!</a>   </p> 
{% endif %}

 

{% endblock %}