
<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="">
    <link rel="icon" href="/framework/assets/images/icon.ico">
    <title>Регистрация</title>

  {% for style in settings.styles %}
  <link rel=stylesheet href='{{style}}'>
  {% endfor %}
  </head>

  <body class="c">

{% if message.text != '' %}
<div class="container alert-dismissible fade show fixed-top alert {{message.type}}" role="alert" >
{{message.text}}

{% if message.link != '' %} - 
<a class="alert-link" href="{{ url({ alias:message.alias }) }}">{{message.link}}</a>{% endif %}
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}

    <form class="form-signin" method="post" action="{{ url({alias:'alias_register'}) }}">
      <div class="text-center mb-4">
        <img class="mb-4" src="/framework/assets/images/icon.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Регистрация</h1>
       
      </div>

      <div class="form-label-group">
        <input type="text" id="inputLogin" class="form-control" placeholder="Логин" name='login' required autofocus>
        <label for="inputLogin">Логин</label>
      </div>
      <div class="form-label-group">
        <input type="email" id="inputEmail" class="form-control" placeholder="E-mail" name='email' required autofocus>
        <label for="inputEmail">Email</label>
      </div>
      <div class="form-label-group">
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="pass" required>
        <label for="inputPassword">Пароль</label>
      </div>

      <!--<div class="checkbox mb-3">
        <label>
          <input type="checkbox" name=rem value="remember-me"> Remember me()
        </label>
      </div>-->
      <button class="btn btn-lg btn-primary btn-block" name='reg' type="submit">Регистрация </button>
     
      <a class="btn btn-lg btn-outline-secondary btn-block" href="{{ url({alias:'alias_login'}) }}"  role="button">&laquo; Вернуться назад</a>
      <a class="btn btn-lg btn-outline-secondary btn-block" href="{{ url({alias:'alias_index'}) }}"  role="button">&laquo; На главную </a>
      <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2018</p>
    </form>
    <script>window.jQuery || document.write('<script src="/framework/assets/js/jquery-3.3.1.min.js"><\/script>')</script>
{% for script in settings.scripts %}
<script src="{{script}}"></script>
{% endfor %}
</body>
</html>
