#logo:hover{
  text-decoration: none;
}
.blog{
  display: inline-block;
  text-decoration: none;
}

.blog_item{
  width: 150px;
  min-height:150px;
  display: inline-block;
  margin:10px;
  padding: 15px;
  text-decoration: none; 
}
.blog_item:hover{
  background:lightgray;
  
}
.dropdown-menu{
	padding: 0;
	margin: 0;
	border: none;
	top:-8px;
}

.nav-link_admin{
margin-top: 3rem;
background: #ccc;
border-radius: .25rem;
}


html {
  position: relative;
  min-height: 100%;
}
body!important {
  /* Margin bottom by footer height */
  margin-bottom: 50px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
}

.avatar{
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
  -webkit-border-radius: 60em;
  -moz-border-radius: 60em;
  border-radius: 60em;
}

.avatar:hover{
  -webkit-box-shadow:
    0 0 20px rgba(255,255,255,.6),
    inset 0 0 20px rgba(255,255,255,1);
  -moz-box-shadow:
    0 0 20px rgba(255,255,255,.6),
    inset 0 0 20px rgba(255,255,255,1);
  box-shadow:
    0 0 20px rgba(255,255,255,.6),
    inset 0 0 20px rgba(255,255,255,1);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (max-width: 960px) {
.blog_item{
  width: 250px;
  min-height:40px;
  display: block;
  text-decoration: none; 
}
} 