th#sort {
      cursor: pointer;
}
.card-category{
margin-top: -15px;
}
.card-category a{
  color: gray;
  font-size: 0.8em;
}
.card-category a:hover{
  color: blue;
  font-size: 0.8em;
}
body.main {
  padding-top: 5rem;

}


.footer {
 
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}



.bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }



.nav-link_admin{
margin-top: 3rem;
background: #ccc;
border-radius: .25rem;
}




.avatar{
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
  -webkit-border-radius: 60em;
  -moz-border-radius: 60em;
  border-radius: 60em;
}

.avatar:hover{
  -webkit-box-shadow:
    0 0 20px rgba(255,255,255,.6),
    inset 0 0 20px rgba(255,255,255,1);
  -moz-box-shadow:
    0 0 20px rgba(255,255,255,.6),
    inset 0 0 20px rgba(255,255,255,1);
  box-shadow:
    0 0 20px rgba(255,255,255,.6),
    inset 0 0 20px rgba(255,255,255,1);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

