{% extends 'base.html' %}
{% block title %} {{title| raw }}} {% endblock %}
{% block bannerh1 %} Просмотр записи {% endblock %}
{% block aditional %}
<a href="{{url({app:'blog',alias:'alias_blog'})}}" role="button" class="btn btn-outline-primary">&laquo; К списку новостей</a>      
{% endblock %}
{% block pagename %}
{{article.title}}
{% endblock %}
{% block description %}
{% set desc = article.text %}
{{ desc |truncate(50, true) }}

{% endblock %}

{% block content %}
<h2>{{article.title}}</h2><hr>

<img class="article-image" src="/load/images/{{article.image}}" alt="{{article.title}}"><br>
{{article.text|nl2br}}


{% endblock %}