{% import 'paginator.macro.html' as paginator %}

{{ paginator.start() }}
{% if page == 1 %}
{{ paginator.page_prev(page , 'disabled')}}
{% else %}
{{ paginator.page_prev(page-1)}}
{% endif %}
{% for i in page-3..page+3 %}
{% if i>0 and i <= page_count %}
{% if page == i %}
{{ paginator.page_item(i, i, 'active')}}
{% else %}
{{ paginator.page_item(i, i)}}
{% endif %}
{% endif %}
{% endfor %}
{% if page == page_count %}
{{ paginator.page_next(page , 'disabled')}}
{% else %}
{{ paginator.page_next(page+1)}}
{% endif %}
{{ paginator.end() }} 
