{% extends 'base.html' %}
{% block title %} Просмотр профиля {% endblock %}
{% block bannerh1 %} Просмотр профиля {% endblock %}
{% block bannerh2 %}   {% endblock %}
{% block pagename %}Просмотр профиля {% endblock %}

{% block pactive %}activePage{% endblock %}
{% block aditional %}
<div class="btn-group-vertical">
<a href="{{url({alias:'alias_logout'})}}" role="button" class="btn btn-outline-primary" style="max-width: 160px;min-width: 160px;"> &#10008; Выход</a>
<a href="{{url({alias:'alias_edit'})}}" role="button" class="btn btn-outline-primary" style="max-width: 160px;min-width: 160px;"> <span class="icon">></span> Редактировать</a>  
</div>    
{% endblock %}
{% block content %}



{% if message.text|length == 0 %}
<img src="{{ profile.avatar }}" alt="Gravatar">
<h3>Логин: <a href="{{ url({alias:'alias_prof',login:profile.login,id:profile.id}) }}">{{ profile.login }}</a></h3>
{% else %}
{% endif %}
 {% if user.login|length == 0 %}
 <p>Вы не авторизованны! Необходимо <a href="{{ url({alias:'alias_login'}) }}">войти!</a>   </p> 
{% endif %}

 

{% endblock %}